/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
}

/* 1. Quitamos los márgenes por defecto del navegador */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #111827; /* Mismo fondo oscuro de tu app */
  overflow-x: hidden; /* Evita scroll horizontal accidental */
}

/* 2. Si Vite te creó un #root con padding, lo limpiamos */
#root {
  max-width: 100vw; /* Ocupa el 100% del ancho (Viewport Width) */
  margin: 0;
  padding: 0;
}